USE [master]
GO
/****** Object:  Database [QLTS2]    Script Date: 23/01/2021 23:44:05 ******/
CREATE DATABASE [QLTS2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTS2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLTS2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTS2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QLTS2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTS2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTS2]
GO
/****** Object:  UserDefinedFunction [dbo].[fuConvertToUnsign1]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fuConvertToUnsign1] ( @strInput NVARCHAR(4000) ) 
RETURNS NVARCHAR(4000) 
AS 
	BEGIN 
		IF @strInput IS NULL 
			RETURN @strInput IF @strInput = '' 
			RETURN @strInput 
			DECLARE @RT NVARCHAR(4000) 
			DECLARE @SIGN_CHARS NCHAR(136) 
			DECLARE @UNSIGN_CHARS NCHAR (136) 
			SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệế ìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵý ĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍ ÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' +NCHAR(272)+ NCHAR(208) 
			SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeee iiiiiooooooooooooooouuuuuuuuuuyyyyy AADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIII OOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD' 
			DECLARE @COUNTER int 
			DECLARE @COUNTER1 int 
			SET @COUNTER = 1 
			WHILE (@COUNTER <=LEN(@strInput)) 
			BEGIN 
				SET @COUNTER1 = 1 
				WHILE (@COUNTER1 <=LEN(@SIGN_CHARS)+1) 
				BEGIN 
					IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@strInput,@COUNTER ,1) ) 
					BEGIN 
						IF @COUNTER=1 
							SET @strInput = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)-1) 
						ELSE 
							SET @strInput = SUBSTRING(@strInput, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@strInput, @COUNTER+1,LEN(@strInput)- @COUNTER) 
							BREAK 
					END 
					SET @COUNTER1 = @COUNTER1 +1 
				END 
				SET @COUNTER = @COUNTER +1 
			END 
			SET @strInput = replace(@strInput,' ','-') 
			RETURN @strInput 
	END
GO
/****** Object:  Table [dbo].[BAN]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] IDENTITY(1,1) NOT NULL,
	[TENBAN] [nvarchar](20) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [int] NOT NULL,
	[MADOUONG] [int] NOT NULL,
	[THOIGIANLAP] [datetime] NOT NULL,
	[THOIGIANKET] [datetime] NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNGUYENLIEU]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNGUYENLIEU](
	[MANGUYENLIEU] [int] NOT NULL,
	[TENNGUYENLIEU] [nvarchar](50) NOT NULL,
	[MANHACUNGCAP] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[DONVI] [nvarchar](10) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[GHICHU] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETTHUCDON]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTHUCDON](
	[MADOUONG] [int] NOT NULL,
	[MANGUYENLIEU] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCNANG]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG](
	[MACHUCNANG] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUCNANG] [nvarchar](20) NOT NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACHUCVU] [int] IDENTITY(1,1) NOT NULL,
	[TENCHUCVU] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUCVU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHMUC]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUC](
	[MADANHMUC] [int] IDENTITY(1,1) NOT NULL,
	[TENDANHMUC] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MADANHMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MABAN] [int] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[GIAMGIA] [float] NOT NULL,
	[TONGTIEN] [float] NOT NULL,
	[GHICHU] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUYENLIEU]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUYENLIEU](
	[MANGUYENLIEU] [int] IDENTITY(1,1) NOT NULL,
	[TINHTRANG] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SODIENTHOAI] [varchar](11) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[GHICHU] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MACHUCVU] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [bit] NULL,
	[CHUNGMINHNHANDAN] [varchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SODIENTHOAI] [varchar](11) NOT NULL,
	[ANHDAIDIEN] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MACHUCVU] [int] NOT NULL,
	[MACHUCNANG] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MATKHAU] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUCDON]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUCDON](
	[MADOUONG] [int] IDENTITY(1,1) NOT NULL,
	[MADANHMUC] [int] NOT NULL,
	[TENDOUONG] [nvarchar](50) NOT NULL,
	[GIABAN] [float] NOT NULL,
	[TINHTRANG] [bit] NULL,
	[HINHANH] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADOUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (1, N'Bàn 1', 1)
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (2, N'Bàn 2', 0)
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (3, N'Bàn 3', 0)
SET IDENTITY_INSERT [dbo].[BAN] OFF
GO
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MADOUONG], [THOIGIANLAP], [THOIGIANKET], [SOLUONG], [THANHTIEN]) VALUES (1, 3, CAST(N'2019-03-25T03:28:18.993' AS DateTime), CAST(N'2019-03-25T03:36:46.280' AS DateTime), 1, 25000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MADOUONG], [THOIGIANLAP], [THOIGIANKET], [SOLUONG], [THANHTIEN]) VALUES (1, 6, CAST(N'2019-03-25T03:28:23.823' AS DateTime), CAST(N'2019-03-25T03:36:46.280' AS DateTime), 2, 30000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MADOUONG], [THOIGIANLAP], [THOIGIANKET], [SOLUONG], [THANHTIEN]) VALUES (1, 4, CAST(N'2019-03-25T03:28:28.680' AS DateTime), CAST(N'2019-03-25T03:36:46.280' AS DateTime), 2, 40000)
GO
INSERT [dbo].[CHITIETNGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [MANHACUNGCAP], [DONGIA], [DONVI], [SOLUONGTON], [GHICHU]) VALUES (1, N'Cafe rang xay', 1, 120000, N'kg', 10, NULL)
INSERT [dbo].[CHITIETNGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [MANHACUNGCAP], [DONGIA], [DONVI], [SOLUONGTON], [GHICHU]) VALUES (2, N'Cafe chồn', 1, 180000, N'kg', 10, NULL)
INSERT [dbo].[CHITIETNGUYENLIEU] ([MANGUYENLIEU], [TENNGUYENLIEU], [MANHACUNGCAP], [DONGIA], [DONVI], [SOLUONGTON], [GHICHU]) VALUES (3, N'Siro blue', 2, 180000, N'chai', 1, N'')
GO
SET IDENTITY_INSERT [dbo].[CHUCVU] ON 

INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (1, N'Quản lý')
INSERT [dbo].[CHUCVU] ([MACHUCVU], [TENCHUCVU]) VALUES (2, N'Thu ngân')
SET IDENTITY_INSERT [dbo].[CHUCVU] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHMUC] ON 

INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (1, N'Trà Sữa Thái ')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (2, N'Trà Sữa Truyền Thống')
INSERT [dbo].[DANHMUC] ([MADANHMUC], [TENDANHMUC]) VALUES (3, N'Soda ')
SET IDENTITY_INSERT [dbo].[DANHMUC] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHOADON], [MABAN], [TRANGTHAI], [GIAMGIA], [TONGTIEN], [GHICHU]) VALUES (1, 5, 1, 0, 95000, NULL)
INSERT [dbo].[HOADON] ([MAHOADON], [MABAN], [TRANGTHAI], [GIAMGIA], [TONGTIEN], [GHICHU]) VALUES (2, 1, 1, 0, 91000, NULL)
INSERT [dbo].[HOADON] ([MAHOADON], [MABAN], [TRANGTHAI], [GIAMGIA], [TONGTIEN], [GHICHU]) VALUES (3, 1, 1, 50, 15000, NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] ON 

INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TINHTRANG]) VALUES (1, 0)
INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TINHTRANG]) VALUES (2, 0)
INSERT [dbo].[NGUYENLIEU] ([MANGUYENLIEU], [TINHTRANG]) VALUES (3, 0)
SET IDENTITY_INSERT [dbo].[NGUYENLIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [SODIENTHOAI], [EMAIL], [GHICHU]) VALUES (1, N'Trung Nguyên', N'Bình Thạnh', N'0123456789', N'abc@gmail.com', NULL)
INSERT [dbo].[NHACUNGCAP] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [SODIENTHOAI], [EMAIL], [GHICHU]) VALUES (2, N'Monster', N'Bình Chánh', N'0123456788', N'monster@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [TENDANGNHAP], [MACHUCVU], [HOTEN], [GIOITINH], [CHUNGMINHNHANDAN], [DIACHI], [SODIENTHOAI], [ANHDAIDIEN]) VALUES (3, N'minh', 1, N'LeCongMinh', 0, N'1211061318', N'D588A tổ 12', N'0369016710', NULL)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU]) VALUES (N'minh', N'1')
GO
SET IDENTITY_INSERT [dbo].[THUCDON] ON 

SET IDENTITY_INSERT [dbo].[THUCDON] OFF
GO
/****** Object:  Index [UQ__CHITIETN__9BD3E01C5D275A4F]    Script Date: 23/01/2021 23:44:05 ******/
ALTER TABLE [dbo].[CHITIETNGUYENLIEU] ADD UNIQUE NONCLUSTERED 
(
	[MANGUYENLIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CHUCNANG__5B1127A48B979546]    Script Date: 23/01/2021 23:44:05 ******/
ALTER TABLE [dbo].[CHUCNANG] ADD UNIQUE NONCLUSTERED 
(
	[TENCHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__6C836FE523114CC1]    Script Date: 23/01/2021 23:44:05 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__7F023B855A0DE345]    Script Date: 23/01/2021 23:44:05 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[CHUNGMINHNHANDAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAN] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT (getdate()) FOR [THOIGIANLAP]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT (NULL) FOR [THOIGIANKET]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU] ADD  DEFAULT ((0)) FOR [DONGIA]
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU] ADD  DEFAULT ((0)) FOR [SOLUONGTON]
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU] ADD  DEFAULT (NULL) FOR [GHICHU]
GO
ALTER TABLE [dbo].[CHUCNANG] ADD  DEFAULT (NULL) FOR [GHICHU]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [GIAMGIA]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (NULL) FOR [GHICHU]
GO
ALTER TABLE [dbo].[NGUYENLIEU] ADD  DEFAULT ((0)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT (NULL) FOR [EMAIL]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT (NULL) FOR [GHICHU]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  DEFAULT ((1)) FOR [MATKHAU]
GO
ALTER TABLE [dbo].[THUCDON] ADD  DEFAULT ((0)) FOR [GIABAN]
GO
ALTER TABLE [dbo].[THUCDON] ADD  DEFAULT ((1)) FOR [TINHTRANG]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_TD] FOREIGN KEY([MADOUONG])
REFERENCES [dbo].[THUCDON] ([MADOUONG])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CTHD_TD]
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CTNL_NCC] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACUNGCAP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU] CHECK CONSTRAINT [FK_CTNL_NCC]
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU]  WITH CHECK ADD  CONSTRAINT [FK_CTNL_NL] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU] CHECK CONSTRAINT [FK_CTNL_NL]
GO
ALTER TABLE [dbo].[CHITIETTHUCDON]  WITH CHECK ADD  CONSTRAINT [FK_CTTD_NL] FOREIGN KEY([MANGUYENLIEU])
REFERENCES [dbo].[NGUYENLIEU] ([MANGUYENLIEU])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CHITIETTHUCDON] CHECK CONSTRAINT [FK_CTTD_NL]
GO
ALTER TABLE [dbo].[CHITIETTHUCDON]  WITH CHECK ADD  CONSTRAINT [FK_CTTD_TD] FOREIGN KEY([MADOUONG])
REFERENCES [dbo].[THUCDON] ([MADOUONG])
GO
ALTER TABLE [dbo].[CHITIETTHUCDON] CHECK CONSTRAINT [FK_CTTD_TD]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_B] FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_B]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_CV] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_CV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_TK] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_TK]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_CN] FOREIGN KEY([MACHUCNANG])
REFERENCES [dbo].[CHUCNANG] ([MACHUCNANG])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_CN]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PQ_CV] FOREIGN KEY([MACHUCVU])
REFERENCES [dbo].[CHUCVU] ([MACHUCVU])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PQ_CV]
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD  CONSTRAINT [FK_TD_DM] FOREIGN KEY([MADANHMUC])
REFERENCES [dbo].[DANHMUC] ([MADANHMUC])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[THUCDON] CHECK CONSTRAINT [FK_TD_DM]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD CHECK  (([SOLUONG]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD CHECK  (([THANHTIEN]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU]  WITH CHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETNGUYENLIEU]  WITH CHECK ADD CHECK  (([SOLUONGTON]>=(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([GIAMGIA]>=(0)))
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([TONGTIEN]>=(0)))
GO
ALTER TABLE [dbo].[THUCDON]  WITH CHECK ADD CHECK  (([GIABAN]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[CheckLogin]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[CheckLogin]
@username varchar(10),@password nvarchar(1000)
as 
begin
	select * from dbo.TaiKhoan where TenDangNhap = @username and MatKhau = @password
end

GO
/****** Object:  StoredProcedure [dbo].[GetBillByTableID]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[GetBillByTableID]
@maban int
as
begin
	select t.TenDoUong, c.SoLuong, t.GiaBan, c.ThanhTien 
	from ChiTietHoaDon as c, HoaDon as h, ThucDon as t 
	where c.MaHoaDon=h.MaHoaDon and c.MaDoUong=t.MaDoUong and h.MaBan=@maban and h.TrangThai = 0
end

GO
/****** Object:  StoredProcedure [dbo].[GetDisplayRecord]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[GetDisplayRecord]
@thoigiandau datetime, @thoigiancuoi datetime, @pagenumber int, @max_number_rows_ofpage int
as
begin
	declare @number_rows_select int = @max_number_rows_ofpage*@pagenumber
	declare @number_rows_except int = @max_number_rows_ofpage*(@pagenumber-1)
	
	;with revenue as (select h.MAHOADON as [Mã hóa đơn], b.TENBAN as [Tên bàn], c.THOIGIANKET as [Thời gian thanh toán], h.GIAMGIA as [Giảm giá], h.TONGTIEN as [Tổng tiền]
	from dbo.HOADON as h, dbo.CHITIETHOADON as c, dbo.BAN as b
	where h.MAHOADON=c.MAHOADON and h.MABAN=b.MABAN and c.THOIGIANKET >= @thoigiandau and c.THOIGIANKET <= @thoigiancuoi and h.TRANGTHAI = 1
	group by h.MAHOADON, TENBAN, THOIGIANKET, GIAMGIA, TONGTIEN)
	
	select count(*) from (select top (@number_rows_select) * from revenue except select top (@number_rows_except) * from revenue) as #temp
end

GO
/****** Object:  StoredProcedure [dbo].[GetRevenue]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[GetRevenue]
@thoigiandau datetime, @thoigiancuoi datetime, @pagenumber int, @max_number_rows_ofpage int
as
begin
	declare @number_rows_select int = @max_number_rows_ofpage*@pagenumber
	declare @number_rows_except int = @max_number_rows_ofpage*(@pagenumber-1)
	
	;with revenue as (select h.mahoadon as [Mã hóa đơn], b.tenban as [Tên bàn], c.thoigianket as [Thời gian thanh toán], h.giamgia as [Giảm giá], h.tongtien as [Tổng tiền]
	from dbo.HOADON as h, dbo.CHITIETHOADON as c, dbo.BAN as b
	where h.mahoadon=c.mahoadon and h.maban=b.maban and c.thoigianket >= @thoigiandau and c.thoigianket <= @thoigiancuoi and h.trangthai = 1
	group by h.mahoadon, tenban, thoigianket, giamgia, tongtien)
	
	select top (@number_rows_select) * from revenue except select top (@number_rows_except) * from revenue
end

GO
/****** Object:  StoredProcedure [dbo].[GetRevenueRecordNum]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[GetRevenueRecordNum]
@thoigiandau datetime,
@thoigiancuoi datetime
as
begin
	select count(*)	
	from dbo.HOADON as h, dbo.CHITIETHOADON as c, dbo.BAN as b
	where h.MAHOADON=c.MAHOADON and h.MABAN=b.MABAN and c.THOIGIANKET >= @thoigiandau and c.THOIGIANKET <= @thoigiancuoi and h.TRANGTHAI = 1
end

GO
/****** Object:  StoredProcedure [dbo].[GetTableList]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
create proc [dbo].[GetTableList]
as 
begin
	select * from dbo.ban
end

GO
/****** Object:  StoredProcedure [dbo].[LoadListCategory]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[LoadListCategory]
as
begin
	select MADANHMUC as [Mã danh mục], TENDANHMUC as [Tên danh mục] from dbo.DANHMUC
end

GO
/****** Object:  StoredProcedure [dbo].[LoadListEmployees]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[LoadListEmployees]
as 
begin
	select n.MANHANVIEN as [Mã] ,n.TENDANGNHAP as [Tên đăng nhập], n.HOTEN as [Họ tên], c.TENCHUCVU as [Chức vụ], n.GIOITINH as [Giới tính], n.CHUNGMINHNHANDAN as [CMND], n.DIACHI as [Địa chỉ], n.SODIENTHOAI as [SĐT]
	from dbo.NHANVIEN as n, dbo.CHUCVU as c
	where c.MACHUCVU=n.MACHUCVU
end

GO
/****** Object:  StoredProcedure [dbo].[LoadListMaterial]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[LoadListMaterial]
as
begin
	select n.MANGUYENLIEU as [Mã nguyên liệu], c.TENNGUYENLIEU as [Tên nguyên liệu], nc.TENNHACUNGCAP as [Nhà cung cấp], c.DONGIA as [Đơn giá], c.DONVI as [Đơn vị], c.SOLUONGTON as [Số lượng], n.TINHTRANG as [Tình trạng], c.GHICHU as [Ghi chú] from dbo.NGUYENLIEU as n, dbo.CHITIETNGUYENLIEU as c, dbo.NHACUNGCAP as nc where n.MANGUYENLIEU=c.MANGUYENLIEU and c.MANHACUNGCAP=nc.MANHACUNGCAP
end

GO
/****** Object:  StoredProcedure [dbo].[LoadListMenu]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[LoadListMenu]
as 
begin
	select  [Mã] = t.MADOUONG, [Tên đồ uống]=t.TENDOUONG, [Tên danh mục]=d.TENDANHMUC, [Giá bán]=t.GIABAN, [Tình trạng]=t.TINHTRANG from dbo.THUCDON as t, dbo.DANHMUC as d where t.MADANHMUC=d.MADANHMUC
end

GO
/****** Object:  StoredProcedure [dbo].[LoadListPosition]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[LoadListPosition]
as 
begin
	select MACHUCVU as [Mã], TENCHUCVU as [Chức vụ]
	from dbo.CHUCVU
end

GO
/****** Object:  StoredProcedure [dbo].[LoadListSupplier]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[LoadListSupplier]
as 
begin
	select MANHACUNGCAP as [Mã], TENNHACUNGCAP as [Tên nhà cung cấp], DIACHI as [Địa chỉ], SODIENTHOAI as [SĐT], EMAIL as [Email], GHICHU as [Ghi chú]
	from dbo.NHACUNGCAP
end

GO
/****** Object:  StoredProcedure [dbo].[SearchCategory]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[SearchCategory]
@tendanhmuc nvarchar(50)
as
begin
	select MADANHMUC as [Mã danh mục], TENDANHMUC as [Tên danh mục] from dbo.DANHMUC where dbo.fuConvertToUnsign1(TENDANHMUC) like N'%'+dbo.fuConvertToUnsign1( @tendanhmuc )+'%'
end

GO
/****** Object:  StoredProcedure [dbo].[SearchEmployees]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[SearchEmployees]
@hoten varchar(10)
as 
begin
	select n.MANHANVIEN as [Mã] ,n.TENDANGNHAP as [Tên đăng nhập], n.HOTEN as [Họ tên], c.TENCHUCVU as [Chức vụ], n.GIOITINH as [Giới tính], n.CHUNGMINHNHANDAN as [CMND], n.DIACHI as [Địa chỉ], n.SODIENTHOAI as [SĐT], n.ANHDAIDIEN as [Ảnh] 
	from dbo.NHANVIEN as n, dbo.CHUCVU as c
	where c.MACHUCVU=n.MACHUCVU and dbo.fuConvertToUnsign1(HOTEN) like  N'%'+dbo.fuConvertToUnsign1( @hoten )+'%'
end

GO
/****** Object:  StoredProcedure [dbo].[SearchMaterial]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[SearchMaterial]
@tennguyenlieu nvarchar(50)
as
begin
	select n.MANGUYENLIEU as [Mã nguyên liệu], c.TENNGUYENLIEU as [Tên nguyên liệu], nc.TENNHACUNGCAP as [Nhà cung cấp], c.DONGIA as [Đơn giá], c.DONVI as [Đơn vị], c.SOLUONGTON as [Số lượng], n.TINHTRANG as [Tình trạng], c.GHICHU as [Ghi chú]
	from dbo.NGUYENLIEU as n, dbo.CHITIETNGUYENLIEU as c, dbo.NHACUNGCAP as nc 
	where n.MANGUYENLIEU=c.MANGUYENLIEU and c.MANHACUNGCAP=nc.MANHACUNGCAP and dbo.fuConvertToUnsign1(TENNGUYENLIEU) like N'%'+dbo.fuConvertToUnsign1( @tennguyenlieu )+'%'
end

GO
/****** Object:  StoredProcedure [dbo].[SearchMenu]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[SearchMenu]
@tendouong nvarchar(10)
as 
begin
	select  [Mã] = t.MADOUONG, [Tên đồ uống]=t.TENDOUONG, [Tên danh mục]=d.TENDANHMUC, [Giá bán]=t.GIABAN, [Tình trạng]=t.TINHTRANG, [Hình ảnh]=t.HINHANH
	from dbo.THUCDON as t, dbo.DANHMUC as d 
	where t.MADANHMUC=d.MADANHMUC and dbo.fuConvertToUnsign1(TENDOUONG) like N'%'+dbo.fuConvertToUnsign1( @tendouong )+'%'
end

GO
/****** Object:  StoredProcedure [dbo].[SearchPosition]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[SearchPosition]
@tenchucvu nvarchar(10)
as 
begin
	select  MACHUCVU as [Mã], TENCHUCVU as [Chức vụ]
	from dbo.CHUCVU 
	where dbo.fuConvertToUnsign1(TENCHUCVU) like N'%'+dbo.fuConvertToUnsign1( @tenchucvu )+'%'
end

GO
/****** Object:  StoredProcedure [dbo].[SearchSupplier]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[SearchSupplier]
@tennhacungcap nvarchar(50)
as
begin
	select MANHACUNGCAP as [Mã], TENNHACUNGCAP as [Tên nhà cung cấp], DIACHI as [Địa chỉ], SODIENTHOAI as [SĐT], EMAIL as [Email], GHICHU as [Ghi chú]
	from dbo.NHACUNGCAP
	where dbo.fuConvertToUnsign1(TENNHACUNGCAP) like N'%'+dbo.fuConvertToUnsign1( @tennhacungcap )+'%'
end

GO
/****** Object:  StoredProcedure [dbo].[UpdateIntoExistedBill]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
create proc [dbo].[UpdateIntoExistedBill]
@mahoadon int,
@madouong int,
@soluong int
as
begin
	declare @existed int 
	declare @countexisted int = 1
	--kiem tra do uong da ton tai trong hoa don do chua?
	select @existed = mahoadon, @countexisted = soluong  
	from dbo.chitiethoadon 
	where mahoadon=@mahoadon and madouong=@madouong
	--neu da co thi cap nhat lai soluong
	if(@existed>0)
	begin
		declare @newcount int = @countexisted + @soluong
		if(@newcount>0) --neu so luong ban dau + so luong them vao ma van con duong thi cap nhat lai soluong
		begin
			update dbo.chitiethoadon 
			set soluong = @countexisted + @soluong
			where (madouong=@madouong and mahoadon=@mahoadon)
		end
		else --nguoc lai, xoa dong do uong da co khoi cthd
		begin
			delete dbo.chitiethoadon
			where (mahoadon=@mahoadon and madouong=@madouong)
		end
	end
	--nguoc lai, insert do uong vao nhu 1 do uong moi
	else
	begin
		insert into dbo.chitiethoadon (mahoadon,madouong,soluong) values ( @mahoadon ,  @madouong , @soluong)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[UpdatePassword]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------
CREATE proc [dbo].[UpdatePassword]
@tendangnhap varchar(10),
@matkhau nvarchar(1000),
@matkhaumoi nvarchar(1000)
as
begin
	declare @pw_is_right int=0

	select @pw_is_right=count(*) from dbo.TAIKHOAN where tendangnhap=@tendangnhap and matkhau= @matkhau

	if(@pw_is_right>=1)
	begin
		update dbo.TAIKHOAN set matkhau = @matkhaumoi  where tendangnhap= @tendangnhap
	end
end

GO
/****** Object:  Trigger [dbo].[DeleteBillInfo]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------
create trigger [dbo].[DeleteBillInfo]
on [dbo].[CHITIETHOADON] for delete
as
begin
	declare @maHoaDon int
	select @maHoaDon = maHoaDon from deleted

	declare @maBan int
	select @maBan = maBan from dbo.HoaDon where maHoaDon = @maHoaDon

	declare @dem int =0
	select @dem = count(*) from dbo.ChiTietHoaDon as c, dbo.HoaDon as h where c.maHoaDon=h.maHoaDon and c.maHoaDon=@maHoaDon and h.trangThai = 0

	if(@dem = 0)
		update dbo.Ban set trangThai = 0 where maBan = @maBan
end
GO
ALTER TABLE [dbo].[CHITIETHOADON] ENABLE TRIGGER [DeleteBillInfo]
GO
/****** Object:  Trigger [dbo].[UpdateBillInfo]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--trigger
create trigger [dbo].[UpdateBillInfo]
on [dbo].[CHITIETHOADON] for insert, update
as 
begin
	declare @maHoaDon int
	declare @maBan int

	select @maHoaDon=maHoaDon from inserted
	select @maBan=maBan from dbo.HoaDon where maHoaDon=@maHoaDon and trangThai = 0

	update dbo.Ban set trangThai = 1 where maBan=@maBan
end
GO
ALTER TABLE [dbo].[CHITIETHOADON] ENABLE TRIGGER [UpdateBillInfo]
GO
/****** Object:  Trigger [dbo].[UpdatePriceFollowMenu]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------
create trigger [dbo].[UpdatePriceFollowMenu]
on [dbo].[CHITIETHOADON] for insert, update
as 
begin
	declare @maDoUong int
	declare @maHoaDon int
	declare @giaBan float
	declare @soLuong int

	select @maDoUong=maDoUong, @maHoaDon=maHoaDon, @soLuong=cast(soLuong as float) from inserted
	select @giaBan=giaBan from dbo.ThucDon where maDoUong=@maDoUong

	declare @thanhTien float
	set @thanhTien=@giaBan*@soLuong
	update dbo.ChiTietHoaDon set thanhTien=@thanhTien where maDoUong=@maDoUong and maHoaDon=@maHoaDon
end
GO
ALTER TABLE [dbo].[CHITIETHOADON] ENABLE TRIGGER [UpdatePriceFollowMenu]
GO
/****** Object:  Trigger [dbo].[UpdateBill]    Script Date: 23/01/2021 23:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------------------

-----------------------------------------------------
create trigger [dbo].[UpdateBill]
on [dbo].[HOADON] for update 
as
begin
	declare @maBanCanChuyen int
	declare @maBanChuyenDen int
	declare @maHoaDon int
	declare @maBan int
	declare @dem int
	
	select @maHoaDon=maHoaDon from inserted
	select @maBan=maBan from dbo.HoaDon where maHoaDon=@maHoaDon
	select @maBanChuyenDen=maBan from inserted
	select @maBanCanChuyen=maBan from deleted
	select @dem =count(*) from dbo.HoaDon where maBan=@maBan and trangThai=0

	update dbo.Ban set trangThai=0 where maBan=@maBanCanChuyen
	update dbo.Ban set trangThai=1 where maBan=@maBanChuyenDen
	
	if(@dem=0)
		update dbo.Ban set trangThai=0 where maBan=@maBan
end
GO
ALTER TABLE [dbo].[HOADON] ENABLE TRIGGER [UpdateBill]
GO
USE [master]
GO
